[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/Seshiria/AnyKernel3
[submodule "kernel"]
	path = kernel
	url = https://github.com/LineageOS/android_kernel_oneplus_msm8998
	ignore = dirty
[submodule "llvm"]
	path = llvm
	url = https://github.com/kdrag0n/proton-clang
[submodule "android_prebuilts_build-tools"]
	path = android_prebuilts_build-tools
	url = https://github.com/LineageOS/android_prebuilts_build-tools.git
