name: Build lineageOS Kernel
on:
  push:
    branches:
      - 22.1
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Init Repo
        run: |
          bash -x ./ci.sh
      - name: Upload to Artifacts
        uses: actions/upload-artifact@v4.3.1
        with:
          name: testbuild
          path: releases/*.zip
